// src/pages/About/About.module.scss

/**
 * Styles for the About page.
 * 
 * - `.about` defines layout and responsive padding/width.
 * - `.about__feature` manages feature sections with mobile adjustments.
 * 
 * Utilizes mixins from `mixins.scss` for responsive design.
 */
@use '../../styles/mixins.scss' as mixins;

.about {
    padding: 1rem;
    max-width: 80%;
    margin: 0 auto;
    @include mixins.mobile {
        padding: 0.5rem 0;
        max-width: 100%;
    }

    &__feature {
        margin: 2rem 0;
        @include mixins.mobile {
            margin: 1.3rem 0;
        }
    }

}
