// src/styles/variables.scss
  
$breakpoint-mobile: 640px;
  
// SCSS Variables
$primary-color: #FF6060;
$secondary-color: #eaeaea;
$background-color: #ffffff;
$text-color: #212529;
$highlight-color: #FFFFFF;
$highlight-background: $primary-color;
$background-dark-image : url('@/assets/marble-texture.jpg');

$font-size-x-small: 0.65rem;
$font-size-small: 0.85rem;
$font-size-medium: 1rem;
$font-size-large: 1.5rem;

