@use "sass:color";
@use '../../styles/variables.scss' as variables;
@use '../../styles/mixins.scss' as mixins;


.collapse {
  border: none;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
  transition: box-shadow 0.2s ease;
  
  @include mixins.mobile {    
    margin: 20px auto;
  }

  &__header {
    cursor: pointer;
    background-color: variables.$highlight-background;
    color: variables.$highlight-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: color.scale(variables.$highlight-background, $lightness: -10%);
    }
  }

  &__title {
    font-size: variables.$font-size-medium;
    text-align: left;
  }

  &__icon {
    margin-right: 8px;
    margin-top: 6px;
    width: 12px;
    height: 12px;
    border: solid variables.$highlight-color;
    border-width: 0 3px 3px 0;
    transform: rotate(225deg); // Initial chevron down
    transition: transform 0.3s ease;

    &__expanded {
      transform: rotate(45deg);
      margin-top: 0px;
    }
  }

  &__content {
    max-height: 0; // Initial hidden state
    overflow: hidden;
    padding: 0 12px;
    opacity: 0;
    background-color: variables.$secondary-color;
    color: variables.$text-color;
    font-size: variables.$font-size-small;
    transition: 
      max-height 0.3s ease-in-out, 
      padding 0.3s ease-in-out, 
      opacity 0.3s ease-in-out;

    &__expanded {
      max-height: 300px; // Large enough to accommodate content
      padding: 0px 12px; // Add padding when expanded
      opacity: 1;
    }
  }
}
