// src/components/Header/Header.module.scss

/**
 * Navigation styles for the Header component.
 *
 * Key points:
 * 1. **Navigation Layout**:
 *    - **`.header__nav`**: Uses `display: flex` to align navigation links horizontally. 
 *    - **`gap: 20px`**: Ensures consistent spacing between links in the navigation.
 *
 * 2. **Link Styling**:
 *    - **`.header__nav__link`**: The links are styled with a medium font size, bold text, and the color defined by `variables.$text-color`.
 *    - **Hover Effect**: Links are underlined on hover, providing visual feedback for interactivity.
 */
 @use '../../styles/variables.scss' as variables;

 .header {
    display: flex;
    justify-content: space-between; /* Push logo and nav to the extremes */
    align-items: center; /* Center vertically */
    padding-top: 30px;
    padding-bottom: 20px;
    &__logo {
        width: 120px; /* Set logo container width */
        img {
            width: 100%; /* Adjust the image to fit the container */
            height: auto; /* Maintain aspect ratio */
        }
    }

    &__nav {
        display: flex;
        gap: 20px;

        &__link {
            font-size: variables.$font-size-medium;
            font-weight: bold;
            color: variables.$text-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
