// ListingDetails.module.scss
@use '../../styles/variables.scss' as variables;
@use '../../styles/mixins.scss' as mixins;

.listing {
  padding: 30px auto;
  max-width: fit-content;

  &__cover img {
    width: 100%; /* Full width of the parent container */
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden; /* Ensures the image respects the border-radius */
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    margin-bottom: 20px;

    @include mixins.mobile {
      flex-direction: column;
      margin-bottom: 15px;
    }

    &__left {
      flex: 1; /* Take up remaining space on the left */
    }

      &__title {
        font-size: variables.$font-size-large;
        font-weight: medium;
        color: variables.$primary-color;
        margin-bottom: 0px;
        padding-bottom: 0px;
        line-height: 95%;
      }

      &__location {
        font-size: variables.$font-size-small;
        color:variables.$text-color;
        margin: 5px 0px 15px 0px;
      }

      &__tags {
        display: flex;
        gap: 10px;
        margin-bottom: 0px;
        flex-wrap: wrap;
    
        &__tag {
          background-color: variables.$highlight-background;
          color:variables.$highlight-color;
          padding: 5px 20px;
          font-size:variables.$font-size-small;
          border-radius: 6px;
          display: inline-block;
        }
      }


    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end; /* Align host and rating to the right */
      gap: 10px; /* Add spacing between elements */

     @include mixins.mobile {
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
      }


    }

      &__host {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px; /* Space between name and picture */
        @include mixins.mobile {
          margin-top: 15px;
        }
      
        &__name {
          padding-top: 5px;
          padding-right: 4px;
          font-size: variables.$font-size-small;
          color:variables.$primary-color;
          text-align: right; /* Align text to the right */
          line-height: 1.4; /* Adjust line height for better spacing */
          display: flex; /* Flexbox layout */
          flex-direction: column; /* Stack words vertically */
          gap: 0.2rem; /* Optional: Add space between the words */
        
          span {
            display: block; /* Ensure each word is treated as a block */
          }
        }
      
        &__picture {
          width: 50px; /* Host picture size */
          //height: 2.4rem;
          border-radius: 50%; /* Circular shape */
          object-fit: cover;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
        }
      }
      
      &__rating {
        display: flex;
        gap: 2px;

        &__star {
          font-size: variables.$font-size-large;
          color: variables.$secondary-color; /* Empty stars */

          &.full {
            color: variables.$primary-color; /* Filled stars */
          }
        }
      }
  }


  &__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @include mixins.mobile {
      margin-bottom: 38px;
    }

    &__description,
    &__equipments {
      flex: 1;
    }

    @include mixins.mobile {
      flex-direction: column;
    }
  }
}

.fullscreenMessage {
  width: 100%;      // Make it take full viewport width
  height: 40vh;     // Make it take full viewport height
  display: flex;     // Use flexbox to center content
  justify-content: center; // Horizontally center the content
  align-items: center;     // Vertically center the content
  font-size: variables.$font-size-large;
  text-align: center;
  z-index: 1000;     // Ensure it's above other content
}
