// Footer.module.scss
@use '../../styles/variables.scss' as variables;

.footer {
    position: relative;
    margin-top: auto;
    padding-top: 40px;
    padding-bottom: 10px;
    background-image: variables.$background-dark-image;
    text-align: center;
    width: 100%;

    &__logo {
        margin: 0 auto;
        width: 80px; /* Set logo container width */
        img {
            width: 100%; /* Adjust the image to fit the container */
            height: auto; /* Maintain aspect ratio */
            filter: grayscale(1) brightness(150%);            
        }
    }

    &__copyright {
        margin-top: 20px;
        font-size: variables.$font-size-x-small;
        color: variables.$highlight-color;
    }
}

